@mixin bp($point) {
  
  $small: "(max-width: 600px)";
  $medium: "(max-width: 900px)";
  $large: "(max-width: 1600px)";

  @if $point == large {
    @media #{$large} { @content; }
  }
  @else if $point == medium {
    @media #{$medium} { @content; }
  }
  @else if $point == small {
    @media #{$small}  { @content; }
  }

} 

    *{
         box-sizing: border-box;
    }


    #body {

        padding:0px;
        margin:0px;
        @include flex(column, nowrap,"" ,"",""); 
        @include flex-justify(stretch);
        min-height: 100vh;
        

    }


        #main { 

                @include flex-item(1, 0,auto);
                width: 100%;  
                min-height: 100vh; 
                @include flex(column, nowrap,"" ,"",""); 
                background: darkcyan;    
                
       
                #header {
                            
                        
                            @include flex-item(0, 0,160px);
                            width: 100%;
                            background: #ffffff;
                            position: absolute; 
                            left:0;
                            top:0;            
                            @include flex(column, nowrap,"" ,"","");
                            @include bp(small){ @include flex-justify(center)}

                            #logo-container{
                                @include flex-item(0, 0, 120px);
                                @include flex(row, nowrap,flex-start ,"",center);
                                @include bp(small){ @include flex-justify(center)}
                        
                                #logo-margin{
                                    
                                            @include flex-item(0, 0, 27%); 
                                            @include bp(small){ @include flex-item(0, 0, 0%); display:none;}
                                            }

                                }

                           #menu{

                                background :#dd0000;
                                @include flex-item(0, 0, 40px);
                                @include bp(small){@include flex-item(1, 0, auto);}
                                @include flex(row, nowrap,"" ,"","");
                                list-style-type: none;
                                overflow: visible;

                                #navbar{ 
                                    
                                    @include flex-item(1, 0, 0);
                                    margin-left:27%;
                                    margin-right:52%;
                                    @include flex(row, nowrap,space-between ,center,center); 
                                    @include bp(small){ @include flex-item(1, 0, 100%);; @include flex(column, nowrap,center ,center,center); margin:0px;}

                                        
                                    a {
                                            font-family: Roboto;                                    
                                            color: white; 
                                            padding: 0px 20px 0px 0px;
                                            
                                            font-size: inherit;
                                            font-size: auto;
                                            font-weight: normal;
                                            font-style: normal;
                                            font-stretch: normal;
                                            text-decoration: none;

                                            @include bp(small){ 
                                                padding:0px; 
                                                @include flex-item(0,0,30px);
                                                font-size: 20px; 
                                                
                                                
                                               }
                                            
                                    }
                                }    
                                    
                                    

                        }

                }



                #section1{
                        height: auto;
                        @include flex-item(1,0,auto);
                        @include flex(column, nowrap,"" ,"","");
                        background: url(../Media/backimg.jpeg) ;
    	                background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;

                        #section1-margin {
                          
                           @include flex-item(0, 0, 160px); 
                           @include bp(small){ @include flex-item(0, 0, 270px);}


                        } 
                                               
                        #felx-container1{
                            
                            @include flex-item(1, 0,auto);
                            @include flex(row, nowrap,"" ,"","");

                            #side1,#side2{  	
                                
                                @include flex-item(0, 0,27%);
                                @include bp(small){ display:none;}
                                
                                }
                            
                            #content  { 
                            
                                @include flex-item(0, 0,46%);
                                border: dotted;
                                @include bp(small){ @include flex-item(0, 0,100%);}                                    
                            
                            }
                        }

                        #flex-container2{

                            
                            @include flex-item(0, 0,160px);
                            @include flex(row, nowrap,"" ,"","");      
                                               
                                    #footer1{

                                        opacity: 0.6;
                                        background-color: #000000;
                                        @include flex-item(0, 0,100%);  

                                    }           
                        }   

                }
                }


  #testDiv {
    height: 0px;
}
 